* {
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;
}

body {
    margin: 0 18vw;
    background-color: lightslategray;
}

#gameContainer {
    padding: 2vw;
    background-color: lightgray;
}

#details {
    margin-bottom: 1vw;
    box-shadow: 4px 2px 0 2px whitesmoke, -3px -1px 0 3px #484848;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

#details>div:first-child {
    width: 20%;
}

#details p {
    margin: 0.1vw;
}

#stats,
#settings {
    display: flex;
    flex-direction: column;
}

#stats div {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    gap: 0.5vw;
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
}

#difficultyButtons,
#fieldSizeButtons {
    display: flex;
    flex-direction: row;
    gap: 0.3vw;
    justify-content: space-between;
}

#field {
    display: grid;
    width: 25vw;
    height: 37.5vw;
    margin: auto;
    box-shadow: 4px 2px 0 2px whitesmoke, -3px -1px 0 3px #484848;
}

.tile {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    background-color: lightgray;
}

.empty {
    box-shadow: 0 0 0 1px #484848 inset;
}

.mine {
    background-color: red;
}

.filled {
    box-shadow: inset -3px -3px #484848, inset 3px 3px whitesmoke;
    font-size: 0;
    background-color: lightgray;
}

.flag {
    background-color: darkred;
}
