* {
    box-sizing: border-box;
    font-family: "Lucida Sans", sans-serif;
}

body {
    margin: 0 20vw;
    background-color: lightslategray;
}

#gameContainer {
    padding: 2vw;
    background-color: lightgray;
}

#field {
    display: grid;
    width: 25vw;
    height: 37.5vw;
    margin: auto;
    box-shadow: 4px 2px 0 2px whitesmoke, -3px -1px 0 3px #484848;
}

.tile {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    background-color: lightgray;
}

.empty {
    box-shadow: 0 0 0 1px #484848 inset;
}

.mine {
    background-color: red;
}

.filled {
    box-shadow: inset -3px -3px #484848, inset 3px 3px whitesmoke;
    font-size: 0;
    background-color: lightgray;
}

.flag {
    background-color: darkred;
}
